.cart {
  padding: 40px 40px;
  padding-top: 80px;
  max-width: 1366px;
  margin: auto;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  &__purchase {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  &__purchase-payable {
    width: 250px;
  }
}

@media (max-width: 600px) {
  .cart {
    padding-top: 100px;
  }
}
