.cart {
 
  padding: 40px 40px;
  max-width: 1366px;
  padding-top: 170px;
  margin: auto;
  &__wrapper{
    border-top: 1px solid #487acd;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;

    margin-right: auto;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__purchase {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;

  }
  &__purchase-payable {
    width: 250px;
  }
  &__purchase-value{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .cart {
    padding-top: 100px;
  }
}
