.cart {
  padding: 40px 40px;
  padding-top: 80px;
  max-width: 1366px;
  margin: auto;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  &__purchase {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;

  }
  &__purchase-payable {
    width: 250px;
  }
  &__purchase-value{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .cart {
    padding-top: 100px;
  }
}
