.product {
  &__counter-button {
    height: 40px;
    width: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(73, 95, 186, 0.15);
    border-radius: 5px;
    color: rgba(72, 122, 205, 1);
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
  }
  &__counter-value {
    margin-right: 15px;
  }
  &__remove {
    color: #897d7d;
    font-size: 42px;
    font-weight: 400;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}
