.filter {
  margin-right: 20px;
  // min-width: 190px;
  position: absolute;
  z-index: 10;
  background-color: burlywood;
  width: 100%;
  max-width: 480px;
  padding: 40px;
  background: #487acd;
  box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.15),
    2px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  top: 40px;
  color: #fff;
  right: -17px;
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
  &__item {
    &_price {
      margin-top: 30px;
    }
  }
  &__item-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__item-values {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    span {
      height: 1px;
      width: 17px;
      background-color: #fff;
    }
  }
  &__item-value {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 2px;
    max-width: 45%;

    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
  &__item-selected {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    input {
      margin-right: 10px;
    }
  }
}

@media (min-width: 840px) {
  .filter {
    position: relative;
    max-width: 200px;
    padding: 10px;
    background: none;
    box-shadow: none;
    top: 0px;
    color: #000;
    left: 0;
    padding-left: 0;
    &__item-value {
      border: 1px solid #000;
      color: #000;
    }
  }
}
