.navigation {
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #fff;
  display: flex;
  transition: 0.5s;
  // background: #fff;
  // top: 0px;
  &__wrapper {
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 1055px;
    padding: 30px 40px;
  }
  &__phone {
    display: flex;
    margin-left: auto;
  }
  &__phone-item {
    margin: auto;
  }
  &__icon {
    margin-left: 32px;
    fill: none;
    &_dark {
      filter: invert(100%);
    }
  }
  // &__burger {
  //   margin-left: 32px;
  // }
  &__icon-cart {
    position: relative;
  }
}

.shopping {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #487acd;
  right: -10px;
  top: calc(50% - 10px);
  border-radius: 50px;
  color: #fff;
  z-index: 1;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
