.navigation {
  // background-color: red;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: #fff;
  display: flex;
  transition: 0.5s;
  // background: #fff;
  // top: 0px;
  &__wrapper {
    max-width: 1055px;
    margin: auto;
    width: 100%;
    padding: 30px 40px;
  }
  &__logo {
    &_desktop {
      display: none;
    }
  }
  &__search {
    display: none;
  }
  &__container {
    display: flex;
    position: relative;
  }
  &__phone {
    display: flex;
    margin-left: auto;
  }
  &__phone-item {
    margin: auto;
  }
  &__icon {
    margin-left: 32px;
    fill: none;
    &_dark {
      filter: invert(100%);
    }
  }

  &__icon-cart {
    position: relative;
  }
}

.shopping {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #487acd;
  right: -10px;
  top: calc(50% - 10px);
  border-radius: 50px;
  color: #fff;
  z-index: 1;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@media (min-width: 580px) {
  .navigation {
    display: flex;
    flex-direction: column;
    &__burger {
      display: none;
    }
    &__logo {
      &_mobile {
        display: none;
      }
      &_desktop {
        display: block;
        height: 30px;
      }
    }
    &__search {
      display: block;
      margin-left: 35px;
      background: rgba(244, 245, 248, 0.7);
      border-radius: 5px;
      padding-left: 15px;
    }
  }
}
