.product {
  margin: auto;
  width: 100%;
  color: #232120;
  font-weight: 700;
  box-shadow: -4px -4px 25px rgba(40, 66, 144, 0.05),
    4px 4px 18px rgba(40, 65, 143, 0.04);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px 30px 20px;
  position: relative;
  background-color: #fff;
  &__add-cart {
    margin-top: 12px;
    min-width: 125px;
    height: 35px;
    left: 19px;
    top: 345px;
    background: #487acd;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    transition: 0.3s;
    border: 2px solid #487acd;
    &:hover {
      background: #fff;
      color: #487acd;
    }
    &_detail {
      background: #fff;
      color: #487acd;
      margin-left: 10px;
      &:hover {
        background: #487acd;
        color: #fff;
      }
    }
  }

  &__discount {
    height: 35px;
    width: 75px;
    background: #e94e4e;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    left: -10px;
    top: 25px;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: #973c3c;
      position: absolute;
      left: 4px;
      top: -10px;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  &__image {
    // max-width: 230px;
    // width: 100%;
    width: 100%;
    display: block;
    margin: auto;
  }
  &__title {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    a{
      color: #232120;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: #b8bdc0;
    margin-top: 10px;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #232120;
    margin-top: 15px;
    &_bold {
      font-weight: 700;
    }
  }
  &__size {
    display: flex;
    margin-top: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    flex-wrap: wrap;
    input {
      margin-right: 5px;
    }
  }
  &__size-item {
    margin-left: 15px;
    &:first-child {
      margin-left: 5px;
    }
  }
  &__price {
    margin-top: 15px;
    display: flex;
    align-items: center;
    // flex-direction: row;
    // align-items: center;
    // height: auto;
    &_word {
      font-weight: 700;
      font-size: 15px;
      margin-right: 10px;
      // line-height: 22px;
    }
  }
  &__price-item {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    // line-height: 16px;
    &_currency {
      font-size: 20px;
    }
    &_old {
      margin-left: 15px;
      font-size: 16px;
      // line-height: 16px;
      color: #b8bdc0;
      text-decoration: line-through;
    }
  }
}

@media (min-width: 720px) {
  .product {
    max-width: 49%;
    min-height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    &__price {
      margin-top: auto;
    }
    &__description {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 840px) {
  .product {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    &__image {
      margin: auto 0px;
      margin-right: 15px;
      max-width: 250px;
    }
    &__title {
      margin: 0;
    }
  }
}
